.content {
    width: 1280px;
    margin: 0 auto;
}

body, html {
    padding: 0px;
    margin: 0px;
}


@media (max-width: 576px) {
    .content {
        min-width: 360px;
        width: 100%;
    }
}